# PostgreSQL Database Connection URL (Plesk panelden aldığınız bilgileri girin)
# Örnek format: postgresql://kullanici:sifre@localhost:5432/veritabani_adi
DATABASE_URL="postgresql://username:password@localhost:5432/dereceuzem_db"

# JWT Token'ları imzalamak için rastgele bir anahtar kelime yazın
JWT_SECRET="dereceuzem_super_secret_jwt_token_key_123!"
